@import "../node_modules/react-grid-layout/css/styles.css";
@import "../node_modules/react-resizable/css/styles.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* DEFAULT STYLING */
.onvo-dashboard-context {
  font-family: "Inter", "Helvetica Neue", sans-serif;
  --background-color: #f9fafb;
  --foreground-color: #ffffff;
  --font-override: inherit;
}

@media (prefers-color-scheme: dark) {
  .onvo-dashboard-context {
    --background-color: #030712;
    --foreground-color: #111827;
    --font-override: inherit;
  }
}

.foreground-color {
  background-color: var(--foreground-color) !important;
}
.background-color {
  background-color: var(--background-color) !important;
}
.font-override {
  font-family: var(--font-override) !important;
}

/* SEPARATOR LINKS STYLING */
.onvo-separator a {
  text-decoration: underline;
  color: #3366cc;
}

/* REACT GRID STYLING */
.react-grid-item > .react-resizable-handle {
  background-image: none !important;
  width: 12px !important;
  height: 12px !important;
}

.react-resizable-handle::after {
  display: none !important;
}
.react-grid-placeholder {
  border-radius: 8px;
  background-color: #3366cc33 !important;
}

/* REACT DATA GRID STYLING */
.rdg-sort-arrow {
  margin-top: 12px;
}
.rdg a {
  text-decoration: underline;
  color: #3366cc;
}
.rdg-cell[role="columnheader"] {
  overflow-y: visible;
}
.dark .rdg {
  --rdg-background-color: #111827 !important;
  --rdg-header-background-color: #1f2937 !important;
  --rdg-row-hover-background-color: #1f2937 !important;
  --rdg-color: #ccc;
}

/* ANIMATED GRADIENT BORDER STYLES */
.gradient-border {
  --borderWidth: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: 9px;
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* LOADER DOTS STYLES */
.loader-dots div {
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-dots div:nth-child(1) {
  left: 8px;
  animation: loader-dots1 0.6s infinite;
}
.loader-dots div:nth-child(2) {
  left: 8px;
  animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(3) {
  left: 32px;
  animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(4) {
  left: 56px;
  animation: loader-dots3 0.6s infinite;
}
@keyframes loader-dots1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader-dots3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader-dots2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
